    <h1 class="home"> Home Page </h1> <br>
   <% @todo_all.each do  |todo|%>
    <a href = "/todo/show/<%= todo.id %>"> <span><strong><%= todo.id%></Strong>: <%= todo.description %></span> </a><br>
   <% end %>
<a href="/todo/new">New</a>