<center><h1> My Tasks List </h1> <br> </center>
                 <a href="index.html">Home</a> <br>
                  <input type="text" placeholder="Input new task!">
                       <input type="button">